---
layout: archive
title: "Arduino 공부"
permalink: /arduino/
author_profile: true
---

<div class="page__hero">
  <div class="page__hero-inner">
    <p class="back-home"><a href="{{ base_path }}/" class="btn btn--light-outline btn-home">홈으로</a></p>
    <!-- Title is provided by layout (page.title); removed duplicate H1 here -->
    <p class="lead">ESP32와 아두이노 관련 프로젝트들을 모아 둔 페이지입니다. 간단한 튜토리얼과 프로젝트 요약을 카드 형식으로 제공합니다.</p>
  </div>
</div>

<div class="collection-arduino">
  <div class="grid__wrapper">
  {% for post in site.arduino reversed %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
  </div>
</div>
